.brown-bg-section {
    &__wrapper {
        background-image: url(../img/WhyBackground.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top left;
        height: 67vh;
        width: 100%;
    }
    &__main {
        display: flex;
        height: 67vh;
        margin: auto;
        justify-content: center;
        align-items: center;
    }
    &__text {
        width: 60%;

    }
    &__text h2 {
        /* Heading 2 */

        font-family: 'Aleo';
        font-style: normal;
        font-weight: 400;
        font-size: 36px;
        line-height: 40px;
        /* identical to box height, or 111% */

        text-transform: capitalize;

        /* White */

        color: #FFFFFF;

    }
    &__text span {
        font-family: 'Josefin Sans';
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        line-height: 28px;
        /* or 175% */

        letter-spacing: 0.1em;

        /* White */

        color: #FFFFFF;

    }
    &__images {
      
        width: 40%;
    }
    &__upper-image {
        width: 350px;
        height: 220px;
    }
    &__down-image {
        width: 350px;
        height: 220px;
        margin-left: 50px;
        margin-top: 15px;
    }
  &__button{
    background: #5373FD;
    color: white;
    height: 60px;
    padding: 20px 32px;
    border: none;
    font-family: 'Aleo';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;


    text-align: center;
    letter-spacing: 0.07em;
    text-transform: uppercase;



    color: #FFFFFF;
  }
}
.subtext {
    display: inline-block;
    margin: 30px 0;
}