.footer {
    width: 100%;
    background-color: #000000;
    &-wrapper__content {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding-top: 80px;
        padding-bottom: 80px;
    }
    &__title {
        font-family: 'Josefin Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 28px;
        /* identical to box height, or 117% */

        letter-spacing: 0.1em;
        text-transform: uppercase;

        /* White */
     
color: #FFFFFF;

    }
    &__subtitle {
        font-family: 'Josefin Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        /* identical to box height, or 143% */
        
        letter-spacing: 0.2em;
        
        /* White */
        margin-top: 10px;
        color: #FFFFFF;
        
    }
    &__icons {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
.svg-icon {
    margin-top: 20px;
    margin-left: 15px;
    margin-right: 15px;
}