.steps-section {
  
    background-color: #333333;
    &__wrapper {
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 40vh;
    }
    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 100px;
        width: 33%;
    }
    &__title {
        display: flex;
        align-items: center;
        font-family: 'Aleo';
        font-style: normal;
        font-weight: 400;
        font-size: 36px;
        line-height: 40px;
        /* identical to box height, or 111% */

        text-align: center;
        text-transform: capitalize;

        /* White */

        color: #FFFFFF;

    }
} 
  
      
      .lines:before {
        display: block;
        content: '';
        height: 300px;
        width: 100%;
       
        border-top: 1px dashed #FFFFFF;
      
   
        border-radius: 50%;
       
        position: relative;
        /* left: 300px; */
        left: -50%;
        top: 200px;
      }
      
      .lines:after {
        display: block;
        content: '';
        width: 100%;
        height: 300px;
       
        border-top: 1px dashed #FFFFFF;
      
        border-radius: 50%;
        position: relative;
  
        right: -50%;
        top: -260px
        
      }
      